/* 全局属性 */
.orangeheart {
  max-width: 860px;
  font-size: 16px;
  color: black;
  padding: 0 10px;
  line-height: 1.6;
  word-spacing: 0px;
  letter-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*段落*/
  /*标题*/
  /*列表*/
  /*引用*/
  /*链接*/
  /*行内代码*/
  /*图片*/
  /*表格*/
  /* 行内代码 */
  /* 脚注上标 */
  /* 脚注 */
  /* 代码块主题 */
  /* .md-fences:before {
  content: ' ';
  display: block;
  width: 100%;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: #282c34;
  margin-bottom: -7px;
  border-radius: 5px;
  background-position: 10px 10px;
} */
}
.orangeheart p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}
.orangeheart h1,
.orangeheart h2,
.orangeheart h3,
.orangeheart h4,
.orangeheart h5,
.orangeheart h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0px;
  font-weight: bold;
  color: black;
}
.orangeheart h1 {
  font-size: 1.5rem;
}
.orangeheart h2 {
  font-size: 1.3rem;
  border-bottom: 2px solid #ef7060;
}
.orangeheart h2 span {
  display: inline-block;
  font-weight: bold;
  background: #ef7060;
  color: #ffffff;
  padding: 3px 10px 1px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}
.orangeheart h2:after {
  display: inline-block;
  content: "";
  vertical-align: bottom;
  border-bottom: 36px solid #efebe9;
  border-right: 20px solid transparent;
}
.orangeheart h3 {
  font-size: 1.2rem;
}
.orangeheart h4 {
  font-size: 1.1rem;
}
.orangeheart h5 {
  font-size: 1rem;
}
.orangeheart h6 {
  font-size: 1rem;
}
.orangeheart ul,
.orangeheart ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px;
  color: black;
}
.orangeheart ul {
  list-style-type: disc;
}
.orangeheart ul ul {
  list-style-type: square;
}
.orangeheart ol {
  list-style-type: decimal;
}
.orangeheart li section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: #010101;
  /* 只要是纯黑色微信编辑器就会把color这个属性吞掉。。。*/
  font-weight: 500;
}
.orangeheart blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  overflow-scrolling: touch;
  border-left: 3px solid #ef7060;
  color: #6a737d;
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fff9f9;
}
.orangeheart blockquote p {
  margin: 0px;
  color: black;
  line-height: 26px;
}
.orangeheart a {
  text-decoration: none;
  word-wrap: break-word;
  font-weight: bold;
  border-bottom: 1px solid #1e6bb8;
  color: #ef7060;
  border-bottom: 1px solid #ef7060;
}
.orangeheart p code,
.orangeheart li code {
  font-size: 14px;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: #ef7060;
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}
.orangeheart img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.orangeheart span img {
  display: inline-block;
  border-right: 0px;
  border-left: 0px;
}
.orangeheart table {
  display: table;
  text-align: left;
}
.orangeheart tbody {
  border: 0;
}
.orangeheart table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}
.orangeheart table tr:nth-child(2n) {
  background-color: #F8F8F8;
}
.orangeheart table tr th,
.orangeheart table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}
.orangeheart table tr th {
  font-weight: bold;
  background-color: #f0f0f0;
}
.orangeheart span code,
.orangeheart li code {
  color: #ef7060;
}
.orangeheart .md-footnote {
  font-weight: bold;
  color: #ef7060;
}
.orangeheart .md-footnote > .md-text:before {
  content: '[';
}
.orangeheart .md-footnote > .md-text:after {
  content: ']';
}
.orangeheart .md-def-name {
  padding-right: 1.8ch;
}
.orangeheart .md-def-name:before {
  content: '[';
  color: #000;
}
.orangeheart .md-def-name:after {
  color: #000;
}
.orangeheart .cm-s-inner.CodeMirror {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #292d3e;
  color: #a6accd;
  font-family: Consolas;
  border-radius: 4px;
}
.orangeheart .CodeMirror-lines {
  padding-left: 4px;
}
.orangeheart .cm-s-inner .cm-keyword {
  color: #c792ea;
}
.orangeheart .cm-s-inner .cm-operator {
  color: #89ddff;
}
.orangeheart .cm-s-inner .cm-variable-2 {
  color: #eeffff;
}
.orangeheart .cm-s-inner .cm-variable-3,
.orangeheart .cm-s-inner .cm-type {
  color: #f07178;
}
.orangeheart .cm-s-inner .cm-builtin {
  color: #ffcb6b;
}
.orangeheart .cm-s-inner .cm-atom {
  color: #f78c6c;
}
.orangeheart .cm-s-inner .cm-number {
  color: #ff5370;
}
.orangeheart .cm-s-inner .cm-def {
  color: #82aaff;
}
.orangeheart .cm-s-inner .cm-string {
  color: #c3e88d;
}
.orangeheart .cm-s-inner .cm-string-2 {
  color: #f07178;
}
.orangeheart .cm-s-inner .cm-comment {
  color: #676e95;
}
.orangeheart .cm-s-inner .cm-variable {
  color: #f07178;
}
.orangeheart .cm-s-inner .cm-tag {
  color: #ff5370;
}
.orangeheart .cm-s-inner .cm-meta {
  color: #ffcb6b;
}
.orangeheart .cm-s-inner .cm-attribute {
  color: #c792ea;
}
.orangeheart .cm-s-inner .cm-property {
  color: #c792ea;
}
.orangeheart .cm-s-inner .cm-qualifier {
  color: #decb6b;
}
.orangeheart .cm-s-inner .cm-variable-3,
.orangeheart .cm-s-inner .cm-type {
  color: #decb6b;
}
.orangeheart .cm-s-inner .cm-error {
  color: #ffffff;
  background-color: #ff5370;
}
.orangeheart .cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
.orangeheart .CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #ef7060;
  z-index: 3;
}
img {
	max-width: 500px;
}

* {
	margin: 0;
	padding: 0;
}